<!doctype html>
<html>
 <body>
  <table border = 1>
   <thead>
    <td>First Name</td>
    <td>Last Name</td>
    <td>Email</td>
    <td>Phone</td>
    <td>Origins</td>
    <td>Destination</td>
    <td>Date</td>
   </thead>
   {% for row in rows %}
    <tr>
     <td>{{row["FirstName"]}}</td>
     <td>{{row["LastName"]}}</td>
     <td>{{row["Email"]}}</td>
     <td>{{row["Phone"]}}</td>
     <td>{{row["Origins"]}}</td>
     <td>{{row["Destination"]}}</td>
     <td>{{row["Date"]}}</td>
    </tr>
   {% endfor %}
  </table>
  <a href = "/">Go back to home page</a>
 </body>
</html>
